@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); /*font-family: 'Bai Jamjuree', sans-serif;*/

* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    /*primary colors*/
    --strong-cyan: rgb(38, 186, 164);
    --light-blue: rgb(97, 115, 255);

    /*neutral colors*/
    --dark-grayish-blue: rgb(76, 84, 93);
    --grayish-blue: rgb(159, 171, 178);
}

body {
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: top;
    font-family: 'Bai Jamjuree', sans-serif;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.logo-img {
    max-width: 5em;
    margin-top: 8em;
}

.header-main-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    text-align: center;
    
    max-width: 34em;
}

.header-main-txt-h1 {
    color: var(--dark-grayish-blue);
}

.header-main-txt-p {
    color: var(--grayish-blue);
    line-height: 1.6em;
}

.header-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.btn-ios {
    font-family: 'Bai Jamjuree', sans-serif;
    color: white;

    background-color: var(--strong-cyan);

    box-shadow: 2px 5px 5px rgba(38, 186, 164, 0.418);

    padding: .8em;
    border-radius: 3em;
    min-width: 12em;
}

.btn-mac {
    font-family: 'Bai Jamjuree', sans-serif;
    color: white;

    background-color: var(--light-blue);

    box-shadow: 2px 5px 5px rgb(97, 115, 255, 0.418);

    padding: .8em;
    border-radius: 3em;
    min-width: 12em;
}

/* ------------------------------------------------------------- */

/* CONTAINER 1 */


.article-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artcile-first-main-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    text-align: center;
    
    max-width: 36em;
    margin: 8em 0em 3em 0em;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.aside-txt {
    display: flex;
    flex-direction: column;
    gap: 4em;
    max-width: 21em;
    margin: 4em 0em 10em 5em;
}

.article-first-main-txt-h2 {
    color: var(--dark-grayish-blue);
}

.article-first-main-txt-p {
    color: var(--grayish-blue);
    line-height: 1.6em;
}

.aside-txt-h3 {
    color: var(--dark-grayish-blue);
}

.aside-txt-p {
    color: var(--grayish-blue);
    line-height: 1.6em;
    margin-top: .5em;
}

.computer {
    max-width: 50vw;
    position: absolute;
    left: -2em;
}



/* ------------------------------------------------------------- */




